/* ******************************** */
/* BODY (viewport) */
/* ******************************** */
body{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: arial,sans-serif;
}
/* ******************************** */
/* LAYOUT (Using Bootstrap Flexbox)* /
/* ******************************** */
/* Container fluid occupies 
whole viewport */
body>.container-fluid{
  height: 100%;
}
/* Each section occupies a percentage
of the viewport */
.nav-bar{
  height: 6%;
  font-size: 13px;
}
.main{
  height: 88%;
}
.footer {
  height: 6%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  color: #757575;
  padding: 1px 30px;
}
/* ******************************** */
/* NavBar */
/* ******************************** */
.nav-bar a{
  color: black;
  margin-left: 15px;
  margin-right: 15px;
}
.nav-bar .products{
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  height: 17px;
  width: 17px;
}
.button-blue
{
  line-height: 30px;
  background-color: rgb(66,133,244);
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #ffffff;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 50px;
  padding: 0 12px;
  text-align: center;
}
.nav-bar .button-blue
{
  color: #ffffff;
}
/* ******************************** */
/* Main */
/* ******************************** */
.col-logo{
  margin-top: 6%;
}
.col-bar{
  margin-top: 3%;
}
.col-buttons{
  margin-top: 1%;
}
.col-bar .search-bar{
  width: 580px;
  height: 30px;
  padding: 5px 10px;
  border: 0.1px solid #e4e4e4;
  background-color: white;
  border-radius: 20px;
  box-sizing: content-box;
  outline: none; /* removes chrome default 
                 outline when focused */
}
.col-bar .search-bar:hover{
  border: 0px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 
              0 0 0 1px rgba(0,0,0,0.08);
}
.col-bar input{
  width: 510px;
  border:0px;
  outline: none;
}
.col-bar img
{
  position: relative;
  right: 40px;
}
.col-bar svg{
  position: relative;
  top: 5px;
  left: 40px;
  height:20px;
  fill:currentColor;
  color:gray;
}
.col-buttons button
{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
.col-buttons button:hover
{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 
              0 0 0 1px rgba(0,0,0,0.08);
}
/* ******************************** */
/* Footer */
/* ******************************** */
.footer a{
  color: #757575;
  margin-left: 10px;
  margin-right: 10px;
}

/* ******************************** */
/* advanced.html */
/* *****************************s*** */
.nav-bar{
  height: 80px;
  font-size: 13px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
.main{
  height: 83%;
}
.col-logo{
  margin-top: 0%;
  height: 70px;
  border-bottom: solid 1px #e4e4e4;
  margin-bottom: 20px;
}
.col-bar{
  margin-top: 0%;
}
.col-bar .search-bar{
  width: 480px;
}
.logo-subtext
{
  color: #d93025;
  font: 20px arial, sans-serif;
  font-weight: 400;
  position: relative;
  top: 25px;
  white-space: nowrap;
}
.main input{
  width: 100%;
  border: solid 0.1px rgb(217, 217, 217);
  border-radius: 0px;
}
/* ************* */
/* class styling */
/* ************* */
.margins
{
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.criteria
{
  font-size: 13px;
}
.description
{
  color: rgb(85, 85, 85);
  font-size: 11px;
}
.padding
{
  padding-left: 20px;
}
.description-bold
{
  color: rgb(119, 119, 119);
  font-size: 13px;
  font-weight: 700;;
}
.border-bottom
{
  border-bottom: solid 1px #e4e4e4;
}
.link a
{
  color: rgb(17, 34, 204);
  font-size: 13px;
}